/*box-sizing*/
* {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
   }

body {
    font-family: 'Raleway', sans-serif;
    padding: 0 50px 0 50px ;
    margin: 0;
}

/*header*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: transparent solid 3px;
}

.navbar img {
    height: 85px;
    width: 210px;
    padding-top: 15px;
    padding-left: 3%;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 21px;
    padding: 5px 20px;
    margin: 0 2px;
    border: transparent 4px solid;
}

.navbar a:hover {
    color: #0065FC;
    border-top: 4px #0065FC solid;
    padding-top: 29px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 20px;
}
 p {
     font-size: 19px;
     margin-left: 5px;
 }

 /*section1*/
.srchtrip {
    padding-left: 30px;
    margin-bottom: 35px;
}

.srchtrip h1 {
    margin-left: 5px;
}

/*search form*/
#searchf {
    display: flex;
    height: 60px;
    margin: 30px 0 40px 0;
}

#searchf i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

#subbuttn {
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 0 20px;
    background-color: #0065fc;
    border-color: transparent ;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#subbuttn i {
    display: none;
}

#findlocation {
    padding-left: 30px;
    font-size: 20px;
    font-weight: 700;
    text-indent: 18px;
    color: black;
    border: #f2f2f2 2px solid;
}

#searchf button {
    cursor: pointer;
}

#locabuttn {
    background-color: #f2f2f2;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border: none;
}

/*filters*/
.filter {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.filter h2 {
    margin: 0 10px 0 25px;
    padding-bottom: 10px;
}

.filter button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 30px 15px 75px;
    border: #d9d9d9 2px solid;
    background-color: white;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
    margin: 0 15px 10px 15px;
} 

.filter i {
    display: flex;
    position: absolute;
    color: #0065FC;
    background-color: #DEEBFF;
    border: #DEEBFF 2px solid;
    height: 60px;
    width: 60px;
    border-radius: 40px;
    left: -3px;
    align-items: center;
    justify-content: center;
}

.filter button:hover {
    border: 2px double #DEEBFF;
    background-color: #f2f2f2;
}

.info p{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    align-items: center;
}

.info i {
    display: flex;
    margin-right: 15px;
    color: #0065FC;
    border: #f2f2f2 solid 2px;
    border-radius: 40px;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
}


/*tablet*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        width: auto;
        padding: 0 25px 0 25px;
    }
    header {
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .navbar img {
        width: 230px;
        height: 100px;
        padding-left: 45px;
    }
    .navbar a {
        font-size: 26px;
        border: transparent 4px solid;
    }
    .navbar a:hover {
        border-bottom: 4px #0065FC solid;
        border-top: none;
        padding-bottom: 26px;
    }
    .srchtrip p, .info p {
        font-size: 21px;
    }
    .filters h2 {
        font-size: 24px;
    }
    #findlocation, .filters button {
        font-size: 22px;
    }

}

/*mobile*/
@media screen and (max-width: 767px) {
    body {
        padding: 0;
    }
    .srchtrip {
        padding: 0 40px;
    }
    .srchtrip h1 {
        font-size: 30px;
    }
    .srchtrip h1, .srchtrip p {
        margin-left: 25px;
    }
    .srchtrip p, .info p {
        font-size: 21px;
    }
    .srchform {
        justify-content: center;
    }
    header {
        width: 100%;
        height: 195px;
    }
    .navbar {
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
    .navbar img {
        width: 180px;
        height: 120px;
        padding: 25px 0 25px 0;
        margin-left: 65px;
    }
    .navbar ul {
        width: 100%;
        padding: 0;
        margin:0;
        justify-content: center;
        text-align: center;
    }
    .navbar li {
        width: 50%;   
    }
    .navbar a {
        font-size: 24px;
        padding: 0;
        margin: 0;
    }
    .navlink {
        width: 50%;
        justify-content: center;
    }
    .navlink:hover {
        border-bottom: 5px #0065FC solid;
        border-top: none;
        padding-bottom: 20px;
    }
    .navbar a:hover {
        border-top: none;
    }
    #searchf {
        justify-content: center;
        max-width: fit-content;
        width: auto;
    }
    .filters h2 {
        width: 100%;
        padding-bottom: 25px;
        font-size: 24px;
    }
    #findlocation,.filters button {
        font-size: 22px;
    }
    #subbuttn i {
        display: flex;
        color: white;
        justify-content: center;
        width: 20px;
        font-size: 20px;
    }
    #findlocation {
        max-width: 290px;
        width: auto;
        border-right: transparent;
        text-indent: 0px;
        outline: none;
    }
    #searchf #subbuttn {
        justify-content: center;
        font-size: 0px;
        padding: 3px 23px;
        border-radius: 19px;
        margin-left: -20px;
    }
    #searchf #locabuttn {
        padding: 0 8px;
        border-top-left-radius: 19px;
        border-bottom-left-radius: 19px;
    }

}

