/*box-sizing*/
* {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
   }

body {
    font-family: 'Raleway', sans-serif;
    padding: 0 50px 0 50px ;
    margin: 0;
    max-width: 1514px;
}

/*header*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: transparent solid 3px;
}

.navbar img {
    height: 85px;
    width: 210px;
    padding-top: 15px;
    padding-left: 3%;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 21px;
    padding: 5px 20px;
    margin: 0 2px;
    border: transparent 4px solid;
}

.navbar a:hover {
    color: #0065FC;
    border-top: 4px #0065FC solid;
    padding-top: 29px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 20px;
}
h3 {
    font-size: 17px;
}

 .srchtrip p {
     font-size: 19px;
     margin-left: 5px;
 }

 /*section1*/
.srchtrip {
    padding-left: 30px;
    margin-bottom: 35px;
}

.srchtrip h1 {
    margin-left: 5px;
}

/*search form*/
#searchf {
    display: flex;
    height: 60px;
    margin: 30px 0 40px 0;
}

#searchf i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

#subbuttn {
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 0 20px;
    background-color: #0065fc;
    border-color: transparent ;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#subbuttn i {
    display: none;
}

#findlocation {
    padding-left: 30px;
    font-size: 20px;
    font-weight: 700;
    text-indent: 18px;
    color: black;
    border: #f2f2f2 2px solid;
}

#searchf button {
    cursor: pointer;
}

#locabuttn {
    background-color: #f2f2f2;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border: none;
}

/*filters*/
.filter {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.filter h2 {
    margin: 0 10px 0 25px;
    padding-bottom: 10px;
}

.filter button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 30px 15px 75px;
    border: #d9d9d9 2px solid;
    background-color: white;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
    margin: 0 15px 10px 15px;
} 

.filter i {
    display: flex;
    position: absolute;
    color: #0065FC;
    background-color: #DEEBFF;
    border: #DEEBFF 2px solid;
    height: 56px;
    width: 56px;
    border-radius: 40px;
    left: -3px;
    align-items: center;
    justify-content: center;
}

.filter button:hover {
    border: 2px double #DEEBFF;
    background-color: #f2f2f2;
}

.info p{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    align-items: center;
}

.info i {
    display: flex;
    margin-right: 15px;
    color: #0065FC;
    border: #f2f2f2 solid 2px;
    border-radius: 40px;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
}

/*section2*/
.accommodation {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.marsacc {
    background-color: #f2f2f2;
    margin: 0 25px 0 5px;
    border-radius: 25px;
    padding: 15px 20px;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.marsacc .cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 100%;
}

.marsacc .card a {
    display: flex;
    min-height: 235px;
    max-height: 235px;
    text-decoration: none;
    color: black;
}

.marsacc .card {
    display: flex;
    width: 280px;
    padding: 2px;
    max-width: 55%;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 5px 10px #d9d9d9;
    margin: 0 10px 45px 10px;
}

.marsacc figure {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin: 0;
    padding: 3px;
    background-color: white;
}

.marsacc figure img {
    min-height: 60%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.marsacc figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 1% 11px 4%;
    min-height: 100px;
}
.marsacc figcaption h3, .marsacc figcaption p {
    padding-left: 5px;
    margin: 0 0 5px 0;
}
.marsacc figcaption p {
    font-size: 16px;
    padding-bottom: 2px;
}

/*stars color*/
.bluestar {
    color: #0065FC;
}
.greystar {
    color: #d9d9d9;
}

.marsacc .card-stars {
    padding-left: 5px;
    font-size: 12px;
}

#showmore {
    font-size: 25px;
    font-weight: 700;
    height: 25px;
    margin: 110px 0 10px 38px;
}

.marsacc #showmore a {
    text-decoration: none;
    color: black;
}


.popular {
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 15px 20px;
    width: 25%;
    min-width: auto;
}

.aside-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .card a {
    display: flex;
    min-height: 200px;
    max-height: 200px;
    text-decoration: none;
    color: black;
}

.popular .card {
    display: flex;
    padding: 2px;
    max-width: 100%;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 5px 10px #d9d9d9;
    margin-bottom: 45px;
}

.popular figure {
    max-width: 100%;
    display: flex;
    padding: 2px;
    margin: 0;
}

.popular figure img {
    min-width: 40%;
    max-width: 40%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.popular figcaption {
    padding: 10px 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.popular figcaption p {
    font-size: 16px;
    margin-top: 5px;
}

.popular .card-stars {
    font-size: 12px;
}

.marsacc h1 {
    margin: 30px 0 20px 35px;
    height: 60px;
}

.popular figcaption h3 {
    margin: 0 0 5px 0;
}

.popular h1 {
    font-size: 24px;
    margin: 30px 0 20px 0;
    height: 60px;
}

.popular #popicon {
    margin: 0 0 20px 3px;
    font-size: 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #2f76e0ce;
}


/*tablet*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        width: auto;
        padding: 0 25px 0 25px;
    }
    header {
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .navbar img {
        width: 230px;
        height: 100px;
        padding-left: 45px;
    }
    .navbar a {
        font-size: 26px;
        border: transparent 4px solid;
    }
    .navbar a:hover {
        border-bottom: 4px #0065FC solid;
        border-top: none;
        padding-bottom: 26px;
    }
    .srchtrip p, .info p {
        font-size: 21px;
    }
    .filters h2 {
        font-size: 24px;
    }
    #findlocation, .filters button {
        font-size: 22px;
    }
    .filter i {
        height: 57px;
        width: 57px;
    }
    .accommodation {
        flex-direction: column-reverse;
    }
    .marsacc {
        width: 100%;
        margin: 30px 0 10px 0;
        padding: 20px 15px;
    }
    .popular {
        width: 100%;
        padding: 20px 40px 30px 40px;
    }
    .marsacc h1 {
        margin: 30px 0 50px 0;
        text-align: center;
        font-size: 30px;
    }
    .marsacc .cards {
        max-height: fit-content;
        max-height: -moz-fit-content;
    }
    .marsacc figcaption {
        display: flex;
        flex-direction: column;
        padding: 5px 4% 10px 3%;
        justify-content: space-between;
    }
    .marsacc .card {
        max-width: none;
        width: 380px;
        margin-bottom: 35px;
    }
    .marsacc .card a {
        min-height: 255px;
        max-height: 255px;
    }
    .marsacc figcaption h3 {
        font-size: 21px;
        margin-bottom: 2px;
    }
    .marsacc figcaption p {
        font-size: 17px;
        margin-bottom: 3px;
    }
    .popular figure img {
        min-width: 43%;
        width: 610px;
    }
    .popular .card a {
        min-height: 210px;
        max-height: 210px;
    }
    .popular figcaption h3 {
        font-size: 25px;
    }
    .popular #popicon {
        margin: 0 0 12px 3px;
        font-size: 20px;
    }
    .popular h1 {
        font-size: 30px;
    }
    .popular figcaption p {
        font-size: 22px;
    }
    .popular .card-stars {
        font-size: 17px;
    }
    .aside-title {
        justify-content: space-around;
        padding-bottom: 30px;
    }
    .popular .card {
        margin-bottom: 35px;
    }
    #showmore {
        margin: 20px 0 10px 25px;
    }

}

/*mobile*/
@media screen and (max-width: 767px) {
    body {
        padding: 0;
    }
    .srchtrip {
        padding: 0 10px;
    }
    .srchtrip h1 {
        font-size: clamp(16px,4vw, 26px);
    }
    .srchtrip h1, .srchtrip p {
        margin-left: 15px;
    }
    .info p {
        align-items: baseline;
    }
    .info i {
        border-radius: 40px;
        height: 25px;
        width: 25px;
    }
    .srchtrip p, .info p {
        font-size: clamp(14px,4vw, 20px);
    }
    .srchform {
        justify-content: center;
    }
    header {
        width: 100%;
        height: 195px;
    }
    .navbar {
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: column;
        justify-content: center;
    }
    .navbar img {
        width: 160px;
        height: 120px;
        padding: 25px 0;
        margin-left: 65px;
    }
    .navbar ul {
        width: 100%;
        padding: 0;
        margin:0;
        justify-content: center;
        text-align: center;
    }
    .navbar li {
        width: 50%;   
    }
    .navbar a {
        font-size: clamp(10px, 5vw, 21px);
        padding: 0;
        margin: 0;
    }
    .navlink {
        width: 50%;
        justify-content: center;
    }
    .navlink:hover {
        border-bottom: 5px #0065FC solid;
        border-top: none;
        padding-bottom: 20px;
    }
    .navbar a:hover {
        border-top: none;
    }
    #searchf {
        justify-content: center;
        width: auto;
    }
    .filters h2 {
        width: 100%;
        padding-bottom: 25px;
        font-size: clamp(15px,5vw, 22px);
    }
    .filters button {
        font-size: clamp(11px,4vw, 19px);
    }
    #subbuttn i {
        display: flex;
        color: white;
        justify-content: center;
        width: 20px;
        font-size: clamp(9px,4vw, 19px);
    }
    #findlocation {
        max-width: 240px;
        border-right: transparent;
        padding: 0;
        text-indent: 13px;
        outline: none;
        font-size: clamp(10px,4vw, 21px);
    }
    #searchf #subbuttn {
        justify-content: center;
        font-size: 0px;
        padding: 3px 12px;
        border-radius: 15px;
        margin-left: -20px;
    }
    #searchf #locabuttn {
        padding: 0;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
    }
    #searchf i {
        font-size: clamp(11px,4vw, 20px);
    }
    .accommodation {
        flex-direction: column-reverse;
    }
    .popular, .marsacc {
        width: 100%;
        padding: 15px 20px 0 20px;
        border-radius: 0px;
        min-width: auto;
    }
    .popular h1, .marsacc h1 {
        font-size: clamp(18px,5vw, 26px);
        height: 70px;
        margin: 30px 0 0 5px;
    }
    .popular #popicon {
        font-size: clamp(12px,4vw, 19px);
        margin: 0 0 10px 5px;
    }
    .popular figure img {
        max-width: none;
        min-width: 35%;
        width: 250px;
    }
    .popular .card a {
        min-height: 180px;
        max-width: none;
        width: 100%;
    }
    .popular figcaption h3 {
        font-size: clamp(13px,4vw, 18px);
        margin: 5px 0 10px 0;
    }
    .popular figcaption p, .marsacc figcaption p {
        font-size: clamp(11px,4vw, 16px);
        margin-bottom: 10px;
    }
    .popular figcaption {
        width: 100%;
        padding: 10px 6%;
    }
    .popular .card-stars, .marsacc .card-stars {
        font-size: clamp(5px,4vw, 11px);
    }
    .marsacc {
        background-color: white;
        margin: 0;
    }
    .marsacc .card a, .marsacc .card{
        width: 100%;
        max-width: 100%;
        max-height: 350px;
    }
    .marsacc .card {
        margin: 0 0 45px 0;
    }
    .marsacc figcaption h3 {
        font-size: clamp(13px,4vw, 18px);
        margin: 4px 0 3px 0;
    }
    .marsacc figure img {
        height: 160px;
    }
   .marsacc figure {
        padding: 5px;
        min-width: 100%;
    }
    .marsacc figcaption {
        margin-bottom: 2px;
    }
    .marsacc .cards {
        max-height: fit-content;
        max-height: -moz-fit-content;
    }
    .marsacc #showmore a {
        text-decoration: none;
        color: black;
        font-size: clamp(16px,4vw, 23px);
    }
    #showmore {
        margin: 10px 0 15px 0;
    }
    .row {
        flex-direction: column;
    }
}

